

      .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 80px;
        background: url("bg.png") no-repeat center/cover;
        min-height: 450px;
      }

      .hero-text {
        width: 40%;
      }

      .hero-text h1 {
        margin: 0;
        font-size: 48px;
        font-weight: bold;
      }

      .hero-text .colored {
        color: #009688;
      }

      .hero-text p {
        margin: 20px 0;
        font-size: 16px;
        color: #444;
        line-height: 1.4;
      }

      .btn {
        display: inline-block;
        padding: 10px 22px;
        background: #009688;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-weight: bold;
      }

      .hero-images {
        display: flex;
        gap: 12px;
      }

      .hero-images img {
        height: 220px;
        border-radius: 6px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
      }
 
 
 
 
 .features {
        display: flex;
        justify-content: space-between;
        gap: 20px;
      }
      .card {
        padding: 20px 10px;
        border-style: ridge;
        width: 250px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        text-align: center;
        border: 1px solid #d2e0df;
      }
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 50px;
        background: #f4f7f6;
      }

      .card img {
        width: 55px;
        margin-bottom: 10px;
      }

      .card h3 {
        margin: 8px 0;
        color: #036c6c;
      }

      .card p {
        font-size: 14px;
        color: #555;
        line-height: 1.4;
      }
      