/* ===================== GLOBAL STYLES ===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #089da1;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

/* ===================== HOME / SECTION ===================== */

section {
  width: 100%;
  height: 100vh;
  background-image: url(image/bg.png);
  background-size: cover;
  background-position: center;
}

/* NAVBAR */
section nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px #089da1;
  background: #fff;
  position: fixed;
  left: 0;
  z-index: 100;
}

section nav .logo img {
  width: 100px;
  cursor: pointer;
  margin: 8px 0;
}

section nav ul {
  list-style: none;
}

section nav li {
  display: inline-block;
  padding: 0 10px;
}

section nav li a {
  text-decoration: none;
  color: #000;
}

section nav li a:hover {
  color: #089da1;
}

section nav .social-icons i {
  margin: 0 5px;
  font-size: 18px;
}

section nav .social-icons i:hover {
  color: #089da1;
  cursor: pointer;
}

/* HERO SECTION */
section .hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 10%;
  background: url("bg.png") no-repeat center/cover;
}

section .hero .hero-text {
  position: relative;
  font-size: 18px;
  left: 25px;
}

section .hero .hero-text h1 {
  position: relative;
  font-size: 55px;
  top: 80px;
  left: 25px;
}

section .hero .hero-text .colored {
  color: #089da1;
}

section .hero .hero-text p {
  width: 650px;
  text-align: justify;
  position: relative;
  line-height: 22px;
  top: 125px;
  left: 25px;
}

section .hero .hero-text .btn {
  background: #089da1;
  padding: 10px 20px;
  position: relative;
  top: 200px;
  left: 25px;
  color: #fff;
  text-decoration: none;
}

section .hero .hero-images img {
  width: 780px;
  position: relative;
  top: 90px;
  left: 20px;
}